<h3 class="h3 mb-4 text-gray-800 border-bottom pb-2">Stock Transaction</h3>

<div class="card shadow mb-4">
  <div class="card-body">
    <form
      [formGroup]="stockTrans"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <input
          type="text"
          class="form-control rounded-pill"
          formControlName="Invoice_no"
          placeholder="Serial No."
          [value]="invoiceNo"
          readonly
        />
        <app-error-message [control]="Invoice_no"></app-error-message>
      </div>

      <div class="form-group">
        <!-- <input
          type="text"
          class="form-control rounded-pill"
          formControlName="Product"
          placeholder="Search Product"
          [typeahead]="allProductList"
          typeaheadOptionField="PRO_Name"
          adaptivePosition="true"
          (typeaheadOnSelect)="onSelect($event)"
          [typeaheadOptionsInScrollableView]="5"
        /> -->

        <input
          type="text"
          class="form-control rounded-pill"
          formControlName="Product"
          placeholder="Product Name"
          [matAutocomplete]="auto"
          (keypress)="findProduct($event)"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onSelect($event.option.value)"
        >
          <mat-option *ngFor="let prod of allProduct" [value]="prod">
            {{ prod.PRO_Name }}
          </mat-option>
        </mat-autocomplete>

        <app-error-message [control]="Product"></app-error-message>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control rounded-pill"
          formControlName="PRO_Batch"
          placeholder="Batch"
        />
        <app-error-message [control]="PRO_Batch"></app-error-message>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control rounded-pill"
          formControlName="PRO_Expiry"
          placeholder="Product Expiry Date"
          bsDatepicker
          [bsConfig]="{
            adaptivePosition: true,
            dateInputFormat: 'DD-MM-YYYY'
          }"
        />
        <app-error-message [control]="PRO_Expiry"></app-error-message>
      </div>

      <div class="form-group">
        <select class="form-control rounded-pill" formControlName="Stock_Type">
          <option value="">Select Stock Type</option>
          <option value="{{ stype._id }}" *ngFor="let stype of stockTypes">{{
            stype.CMC_Name
          }}</option>
        </select>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control rounded-pill"
          formControlName="PRO_purchase_unit"
          placeholder="Purchase Unit Opening Quantity"
        />
        <app-error-message [control]="PRO_purchase_unit"></app-error-message>
      </div>

      <div class="form-group text-center">
        <span><strong>OR</strong></span>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control rounded-pill"
          formControlName="PRO_sales_unit"
          placeholder="Sales Unit Opening Quantity"
        />
        <app-error-message [control]="PRO_sales_unit"></app-error-message>
      </div>

      <div class="form-group text-center">
        <button
          type="submit"
          value="submit"
          class="btn btn-primary btn-user rounded-pill"
          [disabled]="!stockTrans.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
