<h3 class="h3 mb-4 text-gray-800 border-bottom pb-2">Purchase Invoice</h3>

<div class="progress-spinner" *ngIf="showSpinner">
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>

<div class="card shadow mb-4">
  <div class="card-body">
    <form
      [formGroup]="purchase"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="card">
        <div class="card-body">
          <div class="form-group row ">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <input
                type="text"
                class="form-control rounded-pill"
                formControlName="InvoiceDate"
                placeholder="Invoice Date"
                bsDatepicker
                [bsConfig]="{
                  adaptivePosition: true,
                  dateInputFormat: 'DD-MM-YYYY'
                }"
              />
              <app-error-message [control]="InvoiceDate"></app-error-message>
            </div>

            <div class="col-sm-6 mb-3 mb-sm-0">
              <select
                class="form-control rounded-pill"
                formControlName="SupplierID"
              >
                <option value="">Select Supplier</option>
                <option
                  value="{{ supplier._id }}"
                  *ngFor="let supplier of allSuppliers"
                >
                  {{ supplier.SUP_CompanyName }}
                </option>
              </select>

              <app-error-message [control]="SupplierID"></app-error-message>
            </div>
          </div>

          <div class="row">
            <div class="card col-sm-12 mb-3 mb-sm-0">
              <div class="card-header text-right">
                <button
                  type="button"
                  (click)="addProduct()"
                  class="btn btn-success"
                >
                  <i class="fas fa-plus-circle"></i> &nbsp; Add New
                </button>
              </div>

              <div class="card-body">
                <div class="table-responsive shadow">
                  <table class="table table-bordered table-hover mb-0">
                    <thead>
                      <tr>
                        <th>Product Name</th>
                        <th>Scheme</th>
                        <th>Quantity</th>
                        <th>Free Quantity</th>
                        <th>Action</th>
                      </tr>
                    </thead>

                    <tbody formArrayName="ProductList">
                      <tr
                        *ngFor="
                          let item of prodFormGroup.controls;
                          let i = index
                        "
                      >
                        <ng-container [formGroupName]="i">
                          <td>
                            <input
                              type="text"
                              class="form-control rounded-pill"
                              formControlName="Product_Name"
                              placeholder="Product Name"
                              [matAutocomplete]="auto"
                              (keypress)="findProduct($event, i)"
                            />
                            <mat-autocomplete
                              #auto="matAutocomplete"
                              (optionSelected)="
                                onSelect($event.option.value, i)
                              "
                            >
                              <mat-option
                                *ngFor="let prod of allProduct"
                                [value]="prod"
                              >
                                {{ prod.PRO_Name }}
                              </mat-option>
                            </mat-autocomplete>

                            <input type="hidden" formControlName="Product_id" />
                          </td>
                          <td>
                            <select
                              class="form-control rounded-pill"
                              formControlName="Product_Scheme"
                              (change)="onSchemeSelect($event, i)"
                            >
                              <option value="">Select Scheme</option>
                              <option
                                value="{{ scheme._id }}"
                                *ngFor="let scheme of productSchemeList"
                              >
                                Scheme : {{ scheme.Quantity }} -
                                {{ scheme.Free_Quantity }}
                              </option>
                            </select>
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control rounded-pill"
                              formControlName="Product_Quantity"
                              placeholder="Quantity"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control rounded-pill"
                              formControlName="Product_Free_Quantity"
                              placeholder="Free Quantity"
                            />
                          </td>
                          <td>
                            <button
                              type="button"
                              class="btn btn-primary btn-user rounded-pill"
                              (click)="removeContact(i)"
                            >
                              Remove
                            </button>
                          </td></ng-container
                        >
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <br />

          <div class="form-group text-center">
            <button
              type="submit"
              value="submit"
              class="btn btn-primary btn-user rounded-pill"
              [disabled]="!purchase.valid"
            >
              Submit
            </button>

            <button
              type="button"
              class="btn btn-warning btn-user rounded-pill mx-1"
              (click)="onCancel()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
