<div class="card" *ngIf="this.local_data.salesPurchaseFlag == 2">
  <div class="card-body">
    <div class="table-responsive shadow">
      <table class="table table-bordered table-hover mb-0">
        <thead class="thead-dark">
          <th class="text-center">Product Name</th>
          <th class="text-center">Batch</th>
          <th class="text-center">Expiry Date</th>
          <th class="text-center">MRP</th>
          <th class="text-center">Purchase Rate</th>
          <th class="text-center">Sale Rate</th>
        </thead>

        <tbody>
          <tr *ngFor="let content of returnedArray; let i = index">
            <td class="text-center">
              {{ content.Product_id.PRO_Name }}
              Index - {{ i }}
            </td>

            <td class="text-center">
              <select
                class="form-control rounded-pill"
                (change)="getExpiry($event)"
              >
                <option value="">Select Batch</option>
                <option
                  value="{{ batch.PRO_Batch }}"
                  *ngFor="let batch of productBatch"
                  >{{ i }}</option
                >
              </select>
            </td>

            <td class="text-center">
              <input
                type="text"
                class="form-control rounded-pill"
                placeholder="Expiry Date"
                [value]="productExpiryDate | date: 'dd-MM-yyyy'"
              />
            </td>
            <td class="text-center">
              <input
                type="text"
                class="form-control rounded-pill"
                placeholder="MRP"
              />
            </td>
            <td class="text-center">
              <input
                type="text"
                class="form-control rounded-pill"
                placeholder="Purchase Rate"
              />
            </td>
            <td class="text-center">
              <input
                type="text"
                class="form-control rounded-pill"
                placeholder="Sale Rate"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer" *ngIf="this.local_data.salesPurchaseFlag == 2">
  <button type="button" class="btn btn-primary" (click)="closeDialog()">
    Cancel
  </button>
</div>

<div class="card" *ngIf="this.local_data.salesPurchaseFlag == 1">
  <div class="card-body">
    <div class="table-responsive shadow">
      <table class="table table-bordered table-hover mb-0">
        <thead class="thead-dark">
          <th class="text-center">Product</th>
          <th class="text-center">Quantity</th>
          <th class="text-center">Free Quantity</th>
        </thead>

        <tbody>
          <tr *ngFor="let content of purchaseOrderDetails">
            <td class="text-center">
              {{ content.Product_Name }}
            </td>

            <td class="text-center">
              {{ content.Product_Quantity }}
            </td>
            <td class="text-center">
              {{ content.Product_Free_Quantity }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal-footer" *ngIf="this.local_data.salesPurchaseFlag == 1">
  <button type="button" class="btn btn-primary" (click)="closeDialog()">
    Close
  </button>
</div>
