<h3 class="h3 mb-4 text-gray-800 border-bottom pb-2">Sales Orders</h3>

<div class="card">
  <div class="card-body">
    <div class="form-group">
      <input
        type="search"
        (keyup)="applyFilter($event.target.value)"
        class="form-control rounded-pill"
        placeholder="Search"
      />
    </div>

    <div class="table-responsive shadow">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="table table-bordered table-hover mb-0"
      >
        <ng-container matColumnDef="Action">
          <th *matHeaderCellDef class="text-center">Action</th>
          <td class="text-center" *matCellDef="let element">
            <a
              routerLink="/view-order-details/{{ element._id }}"
              matTooltip="Order Details"
              matTooltipPosition="above"
              (click)="openDialog()"
            >
              <i class="fas fa-pencil-alt"></i>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="InvoiceDate">
          <th *matHeaderCellDef class="text-center" mat-sort-header>
            Invoice Date
          </th>
          <td *matCellDef="let element" class="text-center">
            {{ element.PurchaseTransId.InvoiceDate | date: "dd, MMM yyyy" }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="Scheme">
          <th *matHeaderCellDef class="text-center" mat-sort-header>
            Scheme
          </th>
          <td *matCellDef="let element" class="text-center">
            Scheme: {{ element.Product_Scheme.Quantity }} -
            {{ element.Product_Scheme.Free_Quantity }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="Product_Name">
          <th *matHeaderCellDef class="text-center" mat-sort-header>
            Product Name
          </th>
          <td *matCellDef="let element" class="text-center">
            {{ element.Product_id.PRO_Name | uppercase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Product_Quantity">
          <th *matHeaderCellDef class="text-center" mat-sort-header>
            Quantity
          </th>
          <td *matCellDef="let element" class="text-center">
            {{ element.Product_Quantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Product_Free_Quantity">
          <th *matHeaderCellDef class="text-center" mat-sort-header>
            Free Quantity
          </th>
          <td *matCellDef="let element" class="text-center">
            {{ element.Product_Free_Quantity }}
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"
          class="text-center thead-dark"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="text-center"
        ></tr>
      </table>
    </div>
  </div>

  <div class="card-footer p-0">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
