/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-sort-header-container,
.mat-paginator-container {
  justify-content: center !important;
}

.cursor-pointer {
  cursor: pointer;
}

.form-control:focus {
  border: solid 2px lightgreen;
  outline: 0;
  box-shadow: none;
}

.ng-dirty.ng-touched.ng-invalid:not(form) {
  border: solid 2px lightcoral;
}
