<h3 class="h3 mb-4 text-gray-800 border-bottom pb-2">Add Master Child</h3>

<div class="card shadow mb-4">
  <div class="card-body">
    <form
      [formGroup]="commonMasterChild"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <select class="form-control rounded-pill" formControlName="CM_id">
          <option value="">Select Common Master</option>
          <option value="{{ CM._id }}" *ngFor="let CM of commonMasterList">{{
            CM.CM_Name
          }}</option>
        </select>
        <app-error-message [control]="CM_id"></app-error-message>
      </div>

      <div class="form-group">
        <input
          type="text"
          class="form-control rounded-pill"
          formControlName="CMC_Name"
          placeholder="Enter Master Child Name"
        />
        <app-error-message [control]="CMC_Name"></app-error-message>
      </div>

      <div class="form-group text-center">
        <!-- <button
          type="submit"
          value="submit"
          class="btn btn-primary btn-user rounded-pill"
          [disabled]="!commonMasterChild.valid"
          *ngIf="addFlag"
        >
          Submit
        </button>

        <button
          type="submit"
          value="submit"
          class="btn btn-primary btn-user rounded-pill mx-1"
          [disabled]="!commonMasterChild.valid"
          *ngIf="updateFlag"
        >
          Update
        </button> -->

        <input
          type="submit"
          [value]="buttonText"
          class="btn btn-primary btn-user rounded-pill"
          [disabled]="commonMasterChild.invalid"
        />

        <button
          type="button"
          class="btn btn-warning btn-user rounded-pill mx-1"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
