<h3 class="h3 mb-4 text-gray-800 border-bottom pb-2">Employee Master</h3>

<div class="card shadow mb-4">
  <div class="card-body">
    <form
      [formGroup]="empMaster"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0" *ngIf="this.editMode">
          <label for="EmployeeCode"><strong>Employee Code</strong></label>
          <input
            type="text"
            class="form-control rounded-pill"
            placeholder="Enter Employee Code"
            formControlName="Emp_code"
          />
        </div>

        <div
          [ngClass]="{
            'col-sm-6 mb-3 mb-sm-0': this.editMode,
            'col-sm-12 mb-3 mb-sm-0': !this.editMode
          }"
        >
          <label for="EmployeeName"><strong>Employee Name</strong></label>
          <input
            type="text"
            class="form-control rounded-pill"
            formControlName="Emp_name"
            placeholder="Enter Employee Name"
          />
          <app-error-message [control]="Emp_name"></app-error-message>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label for="City"><strong>City</strong></label>
          <input
            type="text"
            class="form-control rounded-pill"
            formControlName="Emp_city"
            placeholder="City"
          />
          <app-error-message [control]="Emp_city"></app-error-message>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">
          <label for="State"><strong>State</strong></label>
          <input
            type="text"
            class="form-control rounded-pill"
            formControlName="Emp_state"
            placeholder="State"
          />
          <app-error-message [control]="Emp_state"></app-error-message>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label for="Address"><strong>Address</strong></label>
          <textarea
            class="form-control rounded-pill"
            formControlName="Emp_address"
            placeholder="Enter Address"
          ></textarea>
          <app-error-message [control]="Emp_address"></app-error-message>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">
          <label for="Typeofuser"><strong>Type of User</strong></label>
          <select
            class="form-control rounded-pill"
            formControlName="Type_of_user"
          >
            <option value="" selected>Select User Type</option>
            <option *ngFor="let utype of userTypes" value="{{ utype._id }}">
              {{ utype.CMC_Name }}
            </option>
          </select>
          <app-error-message [control]="Type_of_user"></app-error-message>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label for="AdharNo"><strong>Adhar Card Number</strong></label>
          <input
            type="number"
            class="form-control rounded-pill"
            formControlName="Emp_adhar"
            placeholder="Adhar Card Number"
          />
          <app-error-message [control]="Emp_adhar"></app-error-message>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">
          <label for="PanNo"><strong>Pan Number</strong></label>
          <input
            type="text"
            class="form-control rounded-pill"
            formControlName="Emp_pan"
            placeholder="Pan Number"
          />
          <app-error-message [control]="Emp_pan"></app-error-message>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label for="Username"><strong>Username</strong></label>
          <input
            type="text"
            class="form-control rounded-pill"
            formControlName="User_name"
            placeholder="Username"
          />
          <app-error-message [control]="User_name"></app-error-message>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">
          <label for="Password"><strong>Password</strong></label>
          <input
            type="password"
            class="form-control rounded-pill"
            formControlName="Password"
            placeholder="Password"
          />
          <app-error-message [control]="Password"></app-error-message>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <label for="EmailID"><strong>Email ID</strong></label>
          <input
            type="text"
            class="form-control rounded-pill"
            formControlName="Email_id"
            placeholder="Email ID"
          />
          <app-error-message [control]="Email_id"></app-error-message>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">
          <label for="MobileNo"><strong>Mobile No.</strong></label>
          <input
            type="number"
            class="form-control rounded-pill"
            formControlName="Mobile_no"
            placeholder="Mobile No."
          />
          <app-error-message [control]="Mobile_no"></app-error-message>
        </div>
      </div>

      <div class="form-group text-center">
        <input
          type="submit"
          [value]="buttonText"
          class="btn btn-primary btn-user rounded-pill"
          [disabled]="empMaster.invalid"
        />

        <button
          type="button"
          class="btn btn-warning btn-user rounded-pill mx-1"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
